header {background-color: #8BF13A; color: #0a0a0a;
}

body {background-color: #8BF13A; color: #0a0a0a;
}

.Imagensa {
    width: 5%;
    padding: 30%;
    display: inline;
    justify-content: inline-end;
    align-items: -end;
}
.cabecalho-lista-item2 {
    display: flex;
    justify-content:center;
    align-items: center;
    display: inline-block;
    font-size: 20px;
    padding: 30px;

}

.cabecalho-lista-item {
    display:inline;
}